
body {
	font-family: Roboto, sans-serif;
}
figure {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.album {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 1rem;
}
.label{
font-weight: bold;
color: #5a0175;
}
.card {
padding: 1rem;
text-align: center;
background-color:#ddd;
box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.card img {
width: 100%;
height: auto;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8cd1ff ;
	padding: 1rem;
	color: #333333 ;
	position: relative;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #111111 ;
	margin-right: 1rem;
	transition: opacity 0.3s ease;
}
h2 {
	text-align: center;
	padding: 20px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease;
}

#menu {
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem;
	cursor: pointer;
	text-align: right;
	width: 100%;
	transition: width 0.3s ease;
}

#menu::before {
	content: "≡";
	display: inline-block;
}

#menu.show::before {
	content: "⬆️";
}

#menu.show {
	width: 100%;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #333333 ;
	font-weight: 700;
	/* transition: 0.5s; */
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
	color: #333333 ;
	background-color: #98c2f0;
	transform: scale(1.15);
	border-radius: 5px;
}

.show li {
	display: block;
	width: 100%;
}
img {
    display: block;
    max-width: 100%; 
    height: auto;
  }
  
@media only screen and (min-width: 634px) {
	#menu {
		display: none; 
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1;
	}

	.navigation a {
		text-align: center;
	}
}

.temples {
	display: grid;
	gap: 16px;
	padding: 16px;
}

@media only screen and (min-width: 40em) {
	.temples {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

figure {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

img {
	width: 100%;
	height: auto;
}

figcaption {
	text-align: center;
	padding: 8px;
	background-color: #f5f5f5;
}
footer{
	text-align: center;
	background-color: #8cd1ff;
	color: #111111;
    position: fixed;
    bottom: 0;
    width: 100%;
}